*{
  font-family: sans-serif;
}
body{
  height:100%;
}
#calculator{
  padding: 10px 10px;
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
  border-radius: 5px;
  border: 2px solid black ;
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
#equal{
  height: 60px;
  width: 220px;
  border-radius: 6px 6px 6px 6px;
}
#clear{
  height: 60px;
  width: 140px;
  border-radius: 6px 6px 6px 6px;
}
.operator, .number, .point{
	width: 60px;
	height: 60px;
	margin: 10px;
	float: left;
	border-radius: 10%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .point{
	background-color: white;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
.operator{
  background-color: cornflowerblue;
}
#clear, #backspace, #equal {
  background-color: burlywood;
}